{"openapi":"3.1.0","info":{"title":"LaserData Cloud Core API","description":"Control plane: tenants, divisions, environments, deployments, billing, members.\n\nPublic REST API for the LaserData Cloud control plane.\n\n## Authentication\n\nEvery tenant endpoint accepts either of two auth methods. Pick whichever the Try-It panel shows; both work.\n- **API key** (machine / CI / SDK): send in the `ld-api-key` header. Keys are tenant-scoped and bound to a single role. Per-environment scoping is enforced by the role's permissions. Cannot be used on `/account/*` (user-scope) endpoints, tenant creation, leave / delete tenant, or invitation accept / reject.\n- **Session cookie** (browser / console): obtained from `POST /account/sign_in`. Mutating endpoints additionally require the `x-csrf-token` header echoed from the sign-in response.\n\nUser-scope endpoints (anything under `/account/*`, tenant creation, leave / delete tenant, invitation accept / reject) are session-only and reject API keys with `403 api_key_not_allowed`.\n\n## Idempotency\n\n`POST`, `PUT`, and `PATCH` requests authenticated by an API key may include an `idempotency-key: <opaque>` header (max 255 characters, UUIDv4 recommended). The server caches the first response for 10 minutes per `(api_key, key)` pair and replays it on retries. A reuse with a *different* request body returns `409 idempotency_error`. A reuse while the original request is still in flight returns `409 idempotent_request_in_progress`. Replays carry an `idempotent-replayed: true` header. DELETE is omitted because it is natively idempotent.\n\n## Pagination\n\nList endpoints return a `Paged<T>` body (`page`, `total_pages`, `total_results`, `items`) and a `link` header (RFC 8288) with `rel=\"first\"`, `\"prev\"`, `\"next\"`, `\"last\"` when applicable.\n\n## Errors\n\nError responses follow RFC 7807 `application/problem+json` with `type`, `title`, `code`, `reason`, `instance`, `status`, `retryable`, and optional `field` / `field_issues`. `retryable` is `true` for 408, 425, 429, 500, 502, 503, 504. On 429 or 503 a `retry-after` header may be set in seconds. Otherwise fall back to exponential backoff.\n\n## Response headers\n\n- `ld-request`: request ID. Include it when reporting issues.\n- `ld-tenant`, `ld-division`, `ld-environment`, `ld-deployment`, `ld-role`: created-resource ID headers returned on the corresponding `POST` endpoints.\n- `link`: pagination relations.\n- `retry-after`: wait hint on 429 / 503.\n- `idempotent-replayed`: set to `true` when the body is a cached idempotent replay.","termsOfService":"https://laserdata.com/terms","contact":{"name":"LaserData Support","url":"https://docs.laserdata.com","email":"support@laserdata.com"},"license":{"name":"Proprietary"},"version":"0.0.66","x-logo":{"url":"https://assets.laserdata.com/laserdata_dark.png","altText":"LaserData","href":"https://laserdata.com"}},"servers":[{"url":"https://api.laserdata.cloud","description":"Production"}],"paths":{"/account":{"get":{"tags":["Account"],"summary":"Get account","description":"Returns the current user's full account: profile, settings, linked identity providers, and tenant memberships with per-tenant role and permission summary.","operationId":"get_account","responses":{"200":{"description":"Current user account details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetails"}}}},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/auth/callback":{"get":{"tags":["Account"],"summary":"OAuth callback","description":"Identity-provider callback (Google, GitHub, Microsoft). The IdP redirects the user agent here with ID+token query params. Server resolves the intent and redirects back to the frontend with `intent` (sign_in / sign_up / link_account) appended. Not called directly by API clients.","operationId":"auth_callback","parameters":[{"name":"id","in":"query","description":"Intent ID from the IdP redirect","required":false,"schema":{"type":"string"}},{"name":"token","in":"query","description":"Intent token from the IdP redirect","required":false,"schema":{"type":"string"}},{"name":"user","in":"query","description":"When present, treated as sign-in flow. Otherwise resolved to sign_up or link_account based on whether the email already belongs to a registered user","required":false,"schema":{"type":"string"}}],"responses":{"307":{"description":"Redirect to the configured frontend with auth intent parameters"},"500":{"description":"Missing id/token, invalid intent, or IdP failure"}},"security":[]}},"/account/auth/intents":{"post":{"tags":["Account"],"summary":"Create auth intent","description":"Step 1 of the OAuth sign-in / sign-up flow. Creates a one-time intent and returns the IdP authorization URL the user agent should be redirected to. Source defaults to `google`.","operationId":"create_intent","requestBody":{"description":"Identity source selector","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIntent"}}},"required":true},"responses":{"200":{"description":"Intent created. The redirect URL points at the IdP authorize endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntentRedirect"}}}},"400":{"description":"Identity source disabled"},"429":{"description":"Rate limit exceeded"}},"security":[]}},"/account/export":{"get":{"tags":["Account"],"summary":"Export account data (GDPR)","description":"Returns a single JSON document with all personal data held about the current user: profile, identities, sessions, memberships, invitations, settings. Use this to satisfy GDPR data-portability requests.","operationId":"export_user_data","responses":{"200":{"description":"GDPR data export for the current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDataExport"}}}},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/invitations":{"get":{"tags":["Invitations"],"summary":"List my invitations","description":"Returns pending invitations addressed to the current user. Use to populate the console's invitation inbox. Session-only: API keys are tenant-scoped and cannot list user invitations.","operationId":"get_invitations","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged invitations for current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_InvitationInfo"}}}},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/invitations/{invitation_id}/accept":{"put":{"tags":["Invitations"],"summary":"Accept invitation","description":"Accepts an invitation and creates the tenant membership. The user immediately has access according to the invitation's role assignment. Session-only: API keys are tenant-scoped and cannot accept user invitations.","operationId":"accept_invitation","parameters":[{"name":"invitation_id","in":"path","description":"Invitation identifier","required":true,"schema":{"$ref":"#/components/schemas/InvitationId"}}],"responses":{"201":{"description":"Invitation accepted"},"404":{"description":"Invitation not found"},"410":{"description":"Invitation expired"}},"security":[{"session_cookie":[]}]}},"/account/invitations/{invitation_id}/reject":{"put":{"tags":["Invitations"],"summary":"Reject invitation","description":"Declines an invitation. No membership is created. The inviter is notified. Session-only: API keys are tenant-scoped and cannot reject user invitations.","operationId":"reject_invitation","parameters":[{"name":"invitation_id","in":"path","description":"Invitation identifier","required":true,"schema":{"$ref":"#/components/schemas/InvitationId"}}],"responses":{"201":{"description":"Invitation rejected"},"404":{"description":"Invitation not found"}},"security":[{"session_cookie":[]}]}},"/account/link":{"post":{"tags":["Account"],"summary":"Link external account","description":"Links another identity provider (Google / GitHub / Microsoft) to the current user. Requires a fresh IdP intent for the source being linked. After linking the user can sign in via either provider.","operationId":"link_account","requestBody":{"description":"Intent ID + token for the IdP being linked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkAccount"}}},"required":true},"responses":{"200":{"description":"Account linked. Includes a new session when the intent was verified.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewAccount"}}}},"401":{"description":"Invalid or expired intent"},"409":{"description":"External account already linked to another user"}},"security":[]}},"/account/sessions":{"get":{"tags":["Account"],"summary":"List sessions","description":"Lists all active sessions for the current user (one entry per browser/device).","operationId":"get_sessions","responses":{"200":{"description":"Active sessions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionInfo"}}}}},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]},"post":{"tags":["Account"],"summary":"Refresh session","description":"Extends the current session's expiry. Returns a new session cookie + csrf_token.","operationId":"refresh_session","responses":{"200":{"description":"Refreshed session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInfo"}}}},"401":{"description":"No valid session cookie"},"429":{"description":"Rate limit exceeded"}},"security":[{"session_cookie":[]}]},"delete":{"tags":["Account"],"summary":"Delete all sessions","description":"Signs out the current user everywhere by invalidating every active session. Use this after a suspected credential leak.","operationId":"delete_sessions","responses":{"204":{"description":"All sessions deleted"},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/settings":{"put":{"tags":["Account"],"summary":"Update settings","description":"Updates the current user's preferences: default tenant + division (for console nav), theme, and IP binding. IP binding pins active sessions to the IP that created them. Useful for tighter security but breaks roaming.","operationId":"update_settings","requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSettings"}}},"required":true},"responses":{"204":{"description":"Settings updated"},"400":{"description":"Invalid theme or tenant/division reference"},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/sign_in":{"post":{"tags":["Account"],"summary":"Sign in","description":"Step 3 of the OAuth flow. Trades the intent ID+token (received from the IdP callback) for an authenticated session. Sets the `session` cookie and returns a `csrf_token` that must be sent on all subsequent state-changing requests via `x-csrf-token` header.","operationId":"sign_in","requestBody":{"description":"Intent ID + token consumed from the IdP callback","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignIn"}}},"required":true},"responses":{"200":{"description":"Authenticated session. The csrf_token must be echoed back as X-CSRF-Token on writes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionInfo"}}}},"401":{"description":"Invalid credentials or expired intent"},"403":{"description":"User account locked or disabled"},"429":{"description":"Rate limit exceeded"}},"security":[]}},"/account/sign_out":{"delete":{"tags":["Account"],"summary":"Sign out","description":"Terminates the current session, deletes the session cookie, and invalidates the CSRF token. Subsequent requests must obtain a new session via /account/auth/intents → IdP → /account/sign_in.","operationId":"sign_out","responses":{"204":{"description":"Session terminated"},"401":{"description":"No active session"}},"security":[{"session_cookie":[]}]}},"/account/sign_up":{"post":{"tags":["Account"],"summary":"Sign up","description":"Create a new user account from a verified IdP intent. Optionally provisions a tenant + division (e.g. for SaaS onboarding) or accepts an invitation token. If the IdP-provided email matches an existing tenant's claimed email domain and join_policy allows, the new user joins automatically and a session is returned. Otherwise the account is created in `awaiting_verification` state.","operationId":"sign_up","requestBody":{"description":"Intent + profile fields (name, title) + optional tenant name / invitation token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUp"}}},"required":true},"responses":{"201":{"description":"Account created. If `verified` and tenant resolved, includes session + ld-tenant / ld-division response headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewAccount"}}}},"400":{"description":"Invalid input or already-existing user"},"401":{"description":"Invalid or expired intent"}},"security":[]}},"/pricing":{"get":{"tags":["Billing"],"summary":"Get public pricing","description":"Returns public plan and pricing information without requiring authentication.","operationId":"get_pricing","responses":{"200":{"description":"Public pricing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PricingResponse"}}}}},"security":[]}},"/tenants":{"get":{"tags":["Tenants"],"summary":"List tenants","description":"Returns all tenants the calling user is a member of. Used by the console to populate the tenant switcher. With API key auth this is scoped to the key's tenant.","operationId":"get_tenants","responses":{"200":{"description":"Tenants accessible to the caller","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TenantInfo"}}}}},"401":{"description":"No active session or API key"}}},"post":{"tags":["Tenants"],"summary":"Create tenant","description":"Creates a new tenant with the caller as owner. Optionally provisions a default division in the same request. The new ids are returned in `ld-tenant` and `ld-division` response headers. Subject to per-user `owned_tenants` limit. Session-only: API keys are tenant-scoped and cannot create new tenants.","operationId":"create_tenant","requestBody":{"description":"Name, description, email, protected, optional initial division","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenant"}}},"required":true},"responses":{"201":{"description":"Tenant created. The new tenant ID is returned in the ld-tenant header"},"400":{"description":"Invalid name / email / division settings or owned-tenants limit reached"},"409":{"description":"Email domain already claimed"}},"security":[{"session_cookie":[]}]}},"/tenants/{tenant_id}":{"get":{"tags":["Tenants"],"summary":"Get tenant","description":"Returns tenant details: status, subscription plan + features, billing email, custom email domain. The caller must be a member of the tenant.","operationId":"get_tenant","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Tenant details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantDetailsInfo"}}}},"403":{"description":"Not a member of the tenant"},"404":{"description":"Tenant not found"}}},"put":{"tags":["Tenants"],"summary":"Update tenant","description":"Partial update of tenant attributes (name, description, email, protected). Owner-only.","operationId":"update_tenant","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTenant"}}},"required":true},"responses":{"204":{"description":"Tenant updated"},"400":{"description":"Invalid field value"},"403":{"description":"Not the tenant owner"},"404":{"description":"Tenant not found"}}},"delete":{"tags":["Tenants"],"summary":"Delete tenant","description":"Permanently deletes the tenant and all child resources (divisions, environments, deployments will be torn down). Requires a resource confirmation code (obtain via PUT /tenants/{tenant_id}/request_code with action `delete_tenant`). Owner-only. Outstanding deployments and billing must be settled first. Session-only: API keys are tenant-scoped and cannot delete tenants.","operationId":"delete_tenant","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"code","in":"query","required":false,"schema":{"type":["string","null"]}}],"responses":{"204":{"description":"Tenant deleted"},"400":{"description":"Active deployments or unpaid invoices exist, or missing/invalid code"},"403":{"description":"Not the tenant owner"},"404":{"description":"Tenant not found"}},"security":[{"session_cookie":[]}]}},"/tenants/{tenant_id}/api_keys":{"get":{"tags":["API Keys"],"summary":"List API keys","description":"Returns the tenant's API keys. Metadata only - the `token` secret is never included in list responses.","operationId":"get_api_keys","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":50},{"name":"name","in":"query","required":false,"schema":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/ApiKeyName"}]}}],"responses":{"200":{"description":"Paged API key listing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_ApiKeyInfo"}}}},"403":{"description":"Insufficient permissions on the tenant"}}},"post":{"tags":["API Keys"],"summary":"Create API key","description":"Creates a tenant-scoped API key. Provide `role_id` to reuse an existing role, or `permissions` to mint a dedicated single-purpose role automatically. The returned `token` is shown ONCE - store it immediately, it cannot be retrieved again.","operationId":"create_api_key","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Name, expiry (max 365 days), role_id OR inline permissions, optional IP allowlist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKey"}}},"required":true},"responses":{"201":{"description":"API key created. `token` returned once and never again","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyToken"}}}},"400":{"description":"Invalid name, expiry beyond 365 days, or both role_id and permissions provided"},"403":{"description":"Insufficient permissions on the tenant"},"409":{"description":"Name already used in this tenant or limit reached"}}}},"/tenants/{tenant_id}/api_keys/context":{"get":{"tags":["API Keys"],"summary":"Get caller's key context","description":"Returns metadata about the API key making this call: role, permissions, expiry, IP allowlist. Lets an autonomous agent introspect its own authority before attempting actions.","operationId":"get_api_key_context","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Calling API key context and permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyDetails"}}}},"401":{"description":"Caller is not authenticated via API key"}}}},"/tenants/{tenant_id}/api_keys/{api_key_id}":{"get":{"tags":["API Keys"],"summary":"Get API key","description":"Returns full metadata for an API key: role, permission tree, IP allowlist. Token secret is never returned.","operationId":"get_api_key","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"api_key_id","in":"path","description":"API key identifier","required":true,"schema":{"$ref":"#/components/schemas/ApiKeyId"}}],"responses":{"200":{"description":"API key details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyDetails"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"API key not found"}}},"delete":{"tags":["API Keys"],"summary":"Delete API key","description":"Immediately revokes the API key. Subsequent requests using its token will return 401. In-flight requests complete normally. Cannot be undone - create a new key if you need to restore access.","operationId":"delete_api_key","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"api_key_id","in":"path","description":"API key identifier","required":true,"schema":{"$ref":"#/components/schemas/ApiKeyId"}}],"responses":{"204":{"description":"API key deleted"},"403":{"description":"Insufficient permissions"},"404":{"description":"API key not found"}}}},"/tenants/{tenant_id}/api_keys/{api_key_id}/security":{"put":{"tags":["API Keys"],"summary":"Update API key security","description":"Updates only the security policy (IP validation + allowed_ips list). Role and permissions cannot be changed - delete and recreate the key instead, which keeps audit trails clean.","operationId":"update_api_key_security","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"api_key_id","in":"path","description":"API key identifier","required":true,"schema":{"$ref":"#/components/schemas/ApiKeyId"}}],"requestBody":{"description":"Toggle validate_ip and/or replace allowed_ips list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApiKeySecurity"}}},"required":true},"responses":{"204":{"description":"API key security updated"},"400":{"description":"Invalid CIDR, or validate_ip=true with empty allowed_ips"},"403":{"description":"Insufficient permissions"},"404":{"description":"API key not found"}}}},"/tenants/{tenant_id}/billing/info":{"get":{"tags":["Billing"],"summary":"Get billing info","description":"Returns the tenant billing recipient profile used for invoicing.","operationId":"get_billing_info","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Tenant billing info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingInfo"}}}},"403":{"description":"Insufficient permissions"}}},"put":{"tags":["Billing"],"summary":"Update billing info","description":"Updates the tenant billing recipient profile used for invoicing.","operationId":"update_billing_info","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Billing recipient fields such as company, address, tax ID, email, and phone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBillingInfo"}}},"required":true},"responses":{"204":{"description":"Billing info updated"}}}},"/tenants/{tenant_id}/billing/invoices":{"get":{"tags":["Billing"],"summary":"List invoices","description":"Returns paged customer invoices for the tenant.","operationId":"get_invoices","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Paged invoices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_CustomerInvoiceInfo"}}}}}}},"/tenants/{tenant_id}/billing/invoices/{invoice_id}":{"get":{"tags":["Billing"],"summary":"Get invoice","description":"Returns full invoice details for one tenant invoice.","operationId":"get_invoice","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"invoice_id","in":"path","description":"Invoice identifier","required":true,"schema":{"$ref":"#/components/schemas/InvoiceId"}}],"responses":{"200":{"description":"Invoice details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerInvoiceDetails"}}}}}}},"/tenants/{tenant_id}/billing/invoices/{invoice_id}/pdf":{"get":{"tags":["Billing"],"summary":"Download invoice PDF","description":"Downloads the rendered PDF file for one invoice.","operationId":"download_invoice_pdf","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"invoice_id","in":"path","description":"Invoice identifier","required":true,"schema":{"$ref":"#/components/schemas/InvoiceId"}}],"responses":{"200":{"description":"Invoice PDF (application/pdf)","content":{"application/pdf":{}}}}}},"/tenants/{tenant_id}/billing/payments/intents":{"post":{"tags":["Payments"],"summary":"Create Stripe setup intent","description":"Creates a Stripe setup intent so the client can collect and attach a payment method for the tenant.","operationId":"create_setup_intent","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Stripe setup intent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetupIntentResponse"}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/billing/payments/method":{"get":{"tags":["Payments"],"summary":"Get payment method","description":"Returns the tenant's current payment provider and stored payment method metadata.","operationId":"get_payment_info","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Payment method info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentInfo"}}}},"403":{"description":"Insufficient permissions"}}},"delete":{"tags":["Payments"],"summary":"Remove payment method","description":"Detaches the current payment method for the tenant.","operationId":"remove_payment_method","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"204":{"description":"Payment method removed"}}}},"/tenants/{tenant_id}/billing/reports":{"get":{"tags":["Billing"],"summary":"List billing reports","description":"Returns paged deployment billing reports for a tenant.","operationId":"get_billing_reports","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Paged billing reports","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_BillingReportInfo"}}}}}}},"/tenants/{tenant_id}/billing/reports/{report_id}":{"get":{"tags":["Billing"],"summary":"Get billing report","description":"Returns one deployment billing report with detailed usage and pricing breakdown.","operationId":"get_billing_report","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"report_id","in":"path","description":"Deployment report identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentReportId"}}],"responses":{"200":{"description":"Billing report details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingReportDetails"}}}}}}},"/tenants/{tenant_id}/cloud_accounts":{"get":{"tags":["Cloud Accounts"],"summary":"List cloud accounts","description":"Returns the tenant's registered cloud accounts.","operationId":"get_cloud_accounts","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10},{"name":"name","in":"query","required":false,"schema":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/CloudAccountName"}]}},{"name":"cloud","in":"query","required":false,"schema":{"type":["string","null"]}},{"name":"region","in":"query","required":false,"schema":{"type":["string","null"]}}],"responses":{"200":{"description":"Paged cloud accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_CloudAccountInfo"}}}},"403":{"description":"Insufficient permissions"}}},"post":{"tags":["Cloud Accounts"],"summary":"Register cloud account","description":"Registers an external cloud provider account (AWS or GCP) for BYOC deployments, VPC peering, and PrivateLink. Stores credentials and network metadata under the tenant.","operationId":"create_cloud_account","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Provider, account ID, region, provider-specific settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCloudAccount"}}},"required":true},"responses":{"201":{"description":"Cloud account created"},"400":{"description":"Invalid provider or settings"},"403":{"description":"Insufficient permissions"},"409":{"description":"Name already used in this tenant"}}}},"/tenants/{tenant_id}/cloud_accounts/{cloud_account_id}":{"get":{"tags":["Cloud Accounts"],"summary":"Get cloud account","description":"Returns full details of a registered cloud account, including provider-specific settings.","operationId":"get_cloud_account","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud_account_id","in":"path","description":"Cloud account identifier","required":true,"schema":{"$ref":"#/components/schemas/CloudAccountId"}}],"responses":{"200":{"description":"Cloud account details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountDetails"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Cloud account not found"}}},"put":{"tags":["Cloud Accounts"],"summary":"Update cloud account","description":"Updates name, region, settings, or remarks. Omitted fields stay unchanged. Account provider type is immutable.","operationId":"update_cloud_account","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud_account_id","in":"path","description":"Cloud account identifier","required":true,"schema":{"$ref":"#/components/schemas/CloudAccountId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCloudAccount"}}},"required":true},"responses":{"204":{"description":"Cloud account updated"},"400":{"description":"Invalid settings"},"403":{"description":"Insufficient permissions"},"404":{"description":"Cloud account not found"}}},"delete":{"tags":["Cloud Accounts"],"summary":"Delete cloud account","description":"Removes a registered cloud account. Fails if any deployments, VPC peerings, or PrivateLink endpoints still reference it.","operationId":"delete_cloud_account","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud_account_id","in":"path","description":"Cloud account identifier","required":true,"schema":{"$ref":"#/components/schemas/CloudAccountId"}}],"responses":{"204":{"description":"Cloud account deleted"},"400":{"description":"Account still referenced by deployments or network resources"},"403":{"description":"Insufficient permissions"},"404":{"description":"Cloud account not found"}}}},"/tenants/{tenant_id}/clouds":{"get":{"tags":["Clouds"],"summary":"List available clouds","description":"Returns the cloud providers (AWS, GCP) available for deployments in this tenant.","operationId":"get_clouds","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Available clouds","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CloudInfo"}}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/clouds/{cloud}/regions":{"get":{"tags":["Clouds"],"summary":"List regions","description":"Returns the regions available for deployment in the selected cloud provider.","operationId":"get_regions","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud","in":"path","description":"Cloud provider (aws, gcp)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Regions for the cloud","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegionInfo"}}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown cloud provider"}}}},"/tenants/{tenant_id}/clouds/{cloud}/regions/{region}/clusters":{"get":{"tags":["Clouds"],"summary":"List cluster kinds","description":"Returns the cluster sizes/kinds (instance types + node counts) available for deployment in the selected cloud + region.","operationId":"get_clusters","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud","in":"path","description":"Cloud provider (aws, gcp)","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","description":"Region code (e.g. us-east-1)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Cluster kinds available in the region","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClusterInfo"}}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown cloud or region"}}}},"/tenants/{tenant_id}/clouds/{cloud}/regions/{region}/storages":{"get":{"tags":["Clouds"],"summary":"List storage options","description":"Returns the storage classes (local, EBS, persistent disk) available for deployment in the selected cloud + region.","operationId":"get_storages","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud","in":"path","description":"Cloud provider (aws, gcp)","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","description":"Region code (e.g. us-east-1)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Storage options available in the region","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StorageInfo"}}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown cloud or region"}}}},"/tenants/{tenant_id}/clouds/{cloud}/regions/{region}/tiers":{"get":{"tags":["Clouds"],"summary":"List deployment tiers","description":"Returns the deployment tiers (e.g. starter, standard, enterprise) available for the selected cloud + region.","operationId":"get_tiers","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"cloud","in":"path","description":"Cloud provider (aws, gcp)","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","description":"Region code (e.g. us-east-1)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tier options available in the region","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TierInfo"}}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown cloud or region"}}}},"/tenants/{tenant_id}/config":{"get":{"tags":["Tenants"],"summary":"Get tenant config","description":"Returns the tenant's organizational policy: join policy, invitation rules, and email-domain claim status.","operationId":"get_tenant_config","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Tenant config","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantConfigInfo"}}}},"403":{"description":"Not a member of the tenant"}}},"put":{"tags":["Tenants"],"summary":"Update tenant config","description":"Updates organizational policy: join_policy (open / invite_only / domain_match), whether external invitations are allowed, and whether invitations must come from the claimed email domain.","operationId":"update_tenant_config","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Join policy + invitation policies","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTenantConfig"}}},"required":true},"responses":{"204":{"description":"Tenant config updated"},"403":{"description":"Not the tenant owner"},"404":{"description":"Tenant not found"}}}},"/tenants/{tenant_id}/divisions":{"get":{"tags":["Divisions"],"summary":"List divisions","description":"Returns the tenant's divisions visible to the caller. Permission-filtered: only divisions where the calling role has at least read access are included.","operationId":"get_divisions","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged divisions listing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_DivisionInfo"}}}},"403":{"description":"Insufficient permissions on the tenant"}}},"post":{"tags":["Divisions"],"summary":"Create division","description":"Creates a division inside the tenant. `protected` divisions require a resource confirmation code on delete. The new division ID is returned in the `ld-division` response header.","operationId":"create_division","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Name (required), description, billing email, protected flag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDivision"}}},"required":true},"responses":{"201":{"description":"Division created. The new division ID is returned in the ld-division header"},"400":{"description":"Invalid name / description / email or tenant divisions limit reached"},"403":{"description":"Insufficient permissions on the tenant"},"409":{"description":"Name already used"}}}},"/tenants/{tenant_id}/divisions/{division_id}":{"get":{"tags":["Divisions"],"summary":"Get division","description":"Returns division details including description, billing email, and whether a payment method is attached. Divisions are tenant subunits used for billing isolation and environment grouping.","operationId":"get_division","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}}],"responses":{"200":{"description":"Division details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DivisionDetails"}}}},"403":{"description":"Insufficient permissions on the division"},"404":{"description":"Division not found"}}},"put":{"tags":["Divisions"],"summary":"Update division","description":"Updates division attributes. All fields are optional - omitted fields are unchanged. Toggling `protected` from false to true requires the division to be in a known-good state.","operationId":"update_division","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDivision"}}},"required":true},"responses":{"204":{"description":"Division updated"},"400":{"description":"Invalid field value"},"403":{"description":"Insufficient permissions"},"404":{"description":"Division not found"}}},"delete":{"tags":["Divisions"],"summary":"Delete division","description":"Deletes the division. Protected divisions require a resource code (obtain via PUT /tenants/{tenant_id}/request_code with action `delete_division`). The division must be empty of environments/deployments first.","operationId":"delete_division","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"code","in":"query","required":false,"schema":{"type":["string","null"]}}],"responses":{"204":{"description":"Division deleted"},"400":{"description":"Division still contains environments / deployments, or missing code on protected division"},"403":{"description":"Insufficient permissions"},"404":{"description":"Division not found"}}}},"/tenants/{tenant_id}/divisions/{division_id}/deployments/starter":{"post":{"tags":["Deployments"],"summary":"Deploy starter environment","description":"Creates or reuses an environment and schedules a starter deployment for the tenant/division.","operationId":"deploy_starter","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}}],"requestBody":{"description":"Starter deployment request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployStarter"}}},"required":true},"responses":{"202":{"description":"Starter deployment scheduled. The ld-environment and ld-deployment headers are set"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments":{"get":{"tags":["Environments"],"summary":"List environments","description":"Returns the division's environments visible to the caller. Permission-filtered.","operationId":"get_environments","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged environments listing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_EnvironmentInfo"}}}},"403":{"description":"Insufficient permissions"}}},"post":{"tags":["Environments"],"summary":"Create environment","description":"Creates an environment in the division. Environments are the natural API key scope unit: scope a key to a single environment to bound an agent's blast radius. New id returned in the `ld-environment` response header.","operationId":"create_environment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}}],"requestBody":{"description":"Name, optional description, protected flag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEnvironment"}}},"required":true},"responses":{"201":{"description":"Environment created. The new environment ID is returned in the ld-environment header"},"400":{"description":"Invalid name / description or environments limit reached"},"403":{"description":"Insufficient permissions"},"409":{"description":"Name already used in this division"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}":{"get":{"tags":["Environments"],"summary":"Get environment","description":"Returns environment details including description and deployment count. Environments group deployments within a division and are the smallest unit for fine-grained API key scoping.","operationId":"get_environment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"responses":{"200":{"description":"Environment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentDetails"}}}},"403":{"description":"Insufficient permissions on the environment"},"404":{"description":"Environment not found"}}},"put":{"tags":["Environments"],"summary":"Update environment","description":"Partial update of environment attributes. Omitted fields are unchanged.","operationId":"update_environment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEnvironment"}}},"required":true},"responses":{"204":{"description":"Environment updated"},"400":{"description":"Invalid field value"},"403":{"description":"Insufficient permissions"},"404":{"description":"Environment not found"}}},"delete":{"tags":["Environments"],"summary":"Delete environment","description":"Deletes the environment. Must be empty of deployments first. Protected environments require a resource code (obtain via PUT /tenants/{tenant_id}/request_code with action `delete_environment`).","operationId":"delete_environment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"code","in":"query","required":false,"schema":{"type":["string","null"]}}],"responses":{"204":{"description":"Environment deleted"},"400":{"description":"Environment contains deployments or missing code on protected env"},"403":{"description":"Insufficient permissions"},"404":{"description":"Environment not found"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments":{"get":{"tags":["Deployments"],"summary":"List deployments","description":"Returns the environment's deployments visible to the caller. Permission-filtered.","operationId":"get_deployments","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"responses":{"200":{"description":"Paged deployments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_DeploymentInfo"}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/byoc":{"post":{"tags":["Deployments"],"summary":"Deploy to your own cloud","description":"Schedules a BYOC deployment into the caller's AWS or GCP account. Cloud-specific identity and network settings are included in the request body.","operationId":"deploy_to_your_own_cloud","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"requestBody":{"description":"BYOC deployment spec","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployToYourOwnCloud"}}},"required":true},"responses":{"202":{"description":"BYOC deployment scheduled. The ld-environment and ld-deployment headers are set"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/byoc/setup":{"post":{"tags":["Deployments"],"summary":"Generate BYOC setup","description":"Returns cloud-specific onboarding instructions and values required before creating a BYOC deployment.","operationId":"generate_byoc_setup","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"requestBody":{"description":"Target cloud and region","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateByocSetup"}}},"required":true},"responses":{"200":{"description":"BYOC setup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ByocSetup"}}}},"400":{"description":"Invalid cloud or region"},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/managed":{"post":{"tags":["Deployments"],"summary":"Deploy to managed cloud","description":"Creates a LaserData-managed deployment inside an existing environment. Returns accepted immediately. Provisioning continues asynchronously.","operationId":"deploy_to_managed_cloud","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"requestBody":{"description":"Managed deployment spec","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployToManagedCloud"}}},"required":true},"responses":{"202":{"description":"Deployment scheduled. The ld-environment and ld-deployment headers are set"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/preview":{"post":{"tags":["Deployments"],"summary":"Preview deployment cost","description":"Returns a rough monthly cost estimate for a hypothetical deployment based on cloud, region, tier, storage, throughput, and topology. The figure is an estimate only - it is computed from public list pricing without tenant-specific discounts or final billing rules, and may differ from what is actually invoiced. Free tier always returns zero. The endpoint never creates a deployment.","operationId":"preview_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}}],"requestBody":{"description":"Deployment shape to estimate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewDeployment"}}},"required":true},"responses":{"200":{"description":"Predicted deployment cost","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentPreview"}}}},"400":{"description":"Invalid request body"},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}":{"get":{"tags":["Deployments"],"summary":"Get deployment","description":"Returns deployment details including cluster size, region, runtime status, and storage configuration. The `supervisor_url` field is the base URL of the supervisor API that owns this deployment's lifecycle (status, configuration, telemetry, restart, upgrade, node operations) - direct subsequent management calls there. Example: `https://supervisor-aws-us.laserdata.cloud`.","operationId":"get_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"responses":{"200":{"description":"Deployment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentDetails"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Deployment not found"}}},"put":{"tags":["Deployments"],"summary":"Update deployment","description":"Updates mutable deployment metadata such as protection flag and description.","operationId":"update_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Deployment metadata update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeployment"}}},"required":true},"responses":{"200":{"description":"Deployment updated"}}},"delete":{"tags":["Deployments"],"summary":"Delete deployment","description":"Schedules deletion of the deployment. Protected deployments require a resource code (obtain via PUT /tenants/{tenant_id}/request_code with action `delete_deployment`).","operationId":"delete_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}},{"name":"code","in":"query","description":"Resource confirmation code for protected deployments","required":false,"schema":{"type":"string"}}],"responses":{"202":{"description":"Deployment deletion scheduled"},"400":{"description":"Missing or invalid code on protected deployment"},"403":{"description":"Insufficient permissions"},"404":{"description":"Deployment not found"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/connectors":{"get":{"tags":["Connectors"],"summary":"List available connectors","description":"Returns the connector catalog with availability and activation status for the deployment. Filter by `type` query parameter (`source` or `sink`).","operationId":"get_connectors","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}},{"name":"type","in":"path","required":true,"schema":{"type":["string","null"]}},{"name":"page","in":"path","required":true,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"path","required":true,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged connectors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_ConnectorInfo"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Deployment not found"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/connectors/activate":{"post":{"tags":["Connectors"],"summary":"Activate connector","description":"Activates a connector instance on the deployment. The instance starts in Pending status and transitions to Active once nodes process the task. Poll the connector list to confirm readiness.","operationId":"activate_connector","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Connector type + provider-specific config","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateConnector"}}},"required":true},"responses":{"202":{"description":"Connector activation scheduled"},"400":{"description":"Invalid or unsupported connector config"},"403":{"description":"Insufficient permissions"},"404":{"description":"Deployment not found"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/extend":{"post":{"tags":["Deployments"],"summary":"Extend deployment","description":"Schedules horizontal scaling for a deployment by adding nodes.","operationId":"extend_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Nodes to add by runtime group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendDeployment"}}},"required":true},"responses":{"202":{"description":"Deployment extension scheduled"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/retention":{"put":{"tags":["Deployments"],"summary":"Update deployment retention","description":"Updates telemetry retention policy for the deployment.","operationId":"update_retention","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Retention settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRetention"}}},"required":true},"responses":{"200":{"description":"Retention updated"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/spend_limit":{"put":{"tags":["Deployments"],"summary":"Update deployment spend limit","description":"Sets or clears the monthly spend cap for the deployment.","operationId":"update_spend_limit","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Optional monthly spend limit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSpendLimit"}}},"required":true},"responses":{"200":{"description":"Spend limit updated"}}}},"/tenants/{tenant_id}/divisions/{division_id}/environments/{environment_id}/deployments/{deployment_id}/upgrade":{"post":{"tags":["Deployments"],"summary":"Upgrade deployment","description":"Schedules a deployment upgrade such as tier or storage changes.","operationId":"upgrade_deployment","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}},{"name":"environment_id","in":"path","description":"Environment identifier","required":true,"schema":{"$ref":"#/components/schemas/EnvironmentId"}},{"name":"deployment_id","in":"path","description":"Deployment identifier","required":true,"schema":{"$ref":"#/components/schemas/DeploymentId"}}],"requestBody":{"description":"Requested deployment upgrade","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpgradeDeployment"}}},"required":true},"responses":{"202":{"description":"Deployment upgrade scheduled"}}}},"/tenants/{tenant_id}/divisions/{division_id}/summary":{"get":{"tags":["Divisions"],"summary":"Division summary","description":"Aggregate counters for the division: environments + deployments totals. Cheap projection for dashboards and agent context priming.","operationId":"get_division_summary","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"division_id","in":"path","description":"Division identifier","required":true,"schema":{"$ref":"#/components/schemas/DivisionId"}}],"responses":{"200":{"description":"Division summary counters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DivisionSummaryInfo"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Division not found"}}}},"/tenants/{tenant_id}/invitations":{"get":{"tags":["Invitations"],"summary":"List tenant invitations","description":"Returns outstanding invitations sent from this tenant (pending / accepted / rejected). Filter via the underlying query params.","operationId":"get_tenant_invitations","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged invitations for tenant","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_TenantInvitationInfo"}}}},"403":{"description":"Insufficient permissions"}}},"post":{"tags":["Invitations"],"summary":"Invite member","description":"Sends an invitation email. If the email already belongs to a registered user, the invitation appears in their /account/invitations list. Otherwise the invitee receives a sign-up link. Subject to tenant invitation policy (open / domain_only / block_external).","operationId":"invite_member","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Email (required) + optional division scope + optional role ids","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteMember"}}},"required":true},"responses":{"201":{"description":"Invitation created"},"400":{"description":"Invalid email, violates tenant invitation policy, already invited, or already a member"},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/invitations/{invitation_id}":{"delete":{"tags":["Invitations"],"summary":"Delete invitation","description":"Revokes an outstanding invitation. The invitee can no longer accept it. Use this to revoke before expiry if circumstances change.","operationId":"delete_invitation","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"invitation_id","in":"path","description":"Invitation identifier","required":true,"schema":{"$ref":"#/components/schemas/InvitationId"}}],"responses":{"204":{"description":"Invitation deleted"},"403":{"description":"Insufficient permissions"},"404":{"description":"Invitation not found"}}}},"/tenants/{tenant_id}/members":{"get":{"tags":["Members"],"summary":"List members","description":"Returns paginated tenant members with role + permission summary per member. Filter by active status via the `active` query parameter.","operationId":"get_members","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"active","in":"query","required":false,"schema":{"type":["boolean","null"]}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged members","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_MemberDetails"}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/members/all":{"get":{"tags":["Members"],"summary":"List all members","description":"Returns every tenant member at once with minimal fields (id, email, name). Use for member picker UIs. For tenants with many members, prefer the paginated GET /tenants/{id}/members.","operationId":"get_all_members","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"All members","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MemberInfo"}}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/members/permissions":{"get":{"tags":["Members"],"summary":"Get permissions catalog","description":"Returns the full catalog of permissions available in this tenant, grouped by scope (tenant / division / environment). Use to populate role-permission selectors.","operationId":"get_permissions","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Available tenant permissions catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantPermissions"}}}},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/members/{member_id}":{"put":{"tags":["Members"],"summary":"Update member","description":"Toggle active status or replace the member's role assignment. Setting `active = false` keeps the membership record but blocks sign-in to the tenant. Setting `roles` replaces the full set atomically.","operationId":"update_member","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"member_id","in":"path","description":"Member user identifier","required":true,"schema":{"$ref":"#/components/schemas/UserId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMember"}}},"required":true},"responses":{"204":{"description":"Member updated"},"400":{"description":"Cannot update self or tenant owner"},"403":{"description":"Insufficient permissions"},"404":{"description":"Member not found"}}},"delete":{"tags":["Members"],"summary":"Remove member","description":"Removes the member's tenant membership. Cannot remove the tenant owner or yourself - use DELETE /tenants/{tenant_id}/membership for self-removal.","operationId":"delete_member","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"member_id","in":"path","description":"Member user identifier","required":true,"schema":{"$ref":"#/components/schemas/UserId"}}],"responses":{"204":{"description":"Member removed"},"400":{"description":"Cannot delete yourself or the tenant owner"},"403":{"description":"Insufficient permissions"},"404":{"description":"Member not found"}}}},"/tenants/{tenant_id}/membership":{"delete":{"tags":["Tenants"],"summary":"Leave tenant","description":"Removes the current user's membership from this tenant. The tenant owner cannot leave - they must transfer ownership or delete the tenant first. Session-only: API keys are tenant-scoped and cannot leave tenants.","operationId":"leave_tenant","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"204":{"description":"Membership removed for current user"},"400":{"description":"Caller is the tenant owner and cannot leave"},"404":{"description":"Not a member of this tenant"}},"security":[{"session_cookie":[]}]}},"/tenants/{tenant_id}/request_code":{"put":{"tags":["Tenants"],"summary":"Request resource action code","description":"Mints a one-time confirmation code emailed to the caller. Required for irreversible operations on `protected` resources (delete_tenant, delete_division, delete_environment, delete_deployment). The code is included on the subsequent DELETE call as a query parameter.","operationId":"request_resource_code","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Which destructive action the code authorizes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestResourceCode"}}},"required":true},"responses":{"204":{"description":"Code requested. Sent by email to the caller"},"403":{"description":"Insufficient permissions for the requested action"},"429":{"description":"Code already requested recently"}}}},"/tenants/{tenant_id}/roles":{"get":{"tags":["Roles"],"summary":"List roles","description":"Returns the tenant's roles. System roles (Owner, Admin, Member, Viewer) plus any custom roles. Filter by `kind` to separate system from custom.","operationId":"get_roles","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10},{"name":"kind","in":"query","required":false,"schema":{"type":["string","null"]}}],"responses":{"200":{"description":"Paged roles","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_RoleBasicInfo"}}}},"403":{"description":"Insufficient permissions"}}},"post":{"tags":["Roles"],"summary":"Create role","description":"Creates a custom role with a permission tree spanning tenant + division + environment scopes. New id returned in `ld-role` header. System roles cannot be created via this API.","operationId":"add_role","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"requestBody":{"description":"Name + permissions tree. System role kind is rejected - all created roles are Custom.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddRole"}}},"required":true},"responses":{"201":{"description":"Role created. The new role ID is returned in the ld-role header"},"400":{"description":"Invalid name, invalid permissions tree, or roles limit reached"},"403":{"description":"Insufficient permissions"},"409":{"description":"Name already used"}}}},"/tenants/{tenant_id}/roles/{role_id}":{"get":{"tags":["Roles"],"summary":"Get role","description":"Returns role details including full permission tree (tenant + division + environment scopes).","operationId":"get_role","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}}],"responses":{"200":{"description":"Role with permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleDetails"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Role not found"}}},"put":{"tags":["Roles"],"summary":"Update role","description":"Updates a custom role's name or permissions tree. System roles cannot be modified.","operationId":"update_role","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}}],"requestBody":{"description":"Partial update. Null or missing fields are unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRole"}}},"required":true},"responses":{"204":{"description":"Role updated"},"400":{"description":"Invalid name or permissions"},"403":{"description":"Cannot modify system role or insufficient permissions"},"404":{"description":"Role not found"}}},"delete":{"tags":["Roles"],"summary":"Delete role","description":"Deletes a custom role. Members assigned to it lose its permissions. System roles cannot be deleted.","operationId":"delete_role","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}}],"responses":{"204":{"description":"Role deleted"},"403":{"description":"Cannot delete system role or insufficient permissions"},"404":{"description":"Role not found"}}}},"/tenants/{tenant_id}/roles/{role_id}/members":{"get":{"tags":["Roles"],"summary":"List role members","description":"Returns the users currently assigned to this role.","operationId":"get_role_members","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}},{"name":"page","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":1},{"name":"results","in":"query","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":1},"example":10}],"responses":{"200":{"description":"Paged role members","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paged_RoleMemberInfo"}}}},"403":{"description":"Insufficient permissions"},"404":{"description":"Role not found"}}}},"/tenants/{tenant_id}/roles/{role_id}/members/assign":{"put":{"tags":["Roles"],"summary":"Assign members to role","description":"Adds existing members to the role. Members keep any other roles they already have.","operationId":"assign_role_members","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}}],"requestBody":{"description":"List of member user ids to add to the role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRoleMembers"}}},"required":true},"responses":{"204":{"description":"Members assigned to role"},"400":{"description":"Empty members list, members not in tenant, or cannot assign self"},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/roles/{role_id}/members/revoke":{"put":{"tags":["Roles"],"summary":"Revoke members from role","description":"Removes members from the role. They keep their other role assignments and tenant membership.","operationId":"revoke_role_members","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}},{"name":"role_id","in":"path","description":"Role identifier","required":true,"schema":{"$ref":"#/components/schemas/RoleId"}}],"requestBody":{"description":"List of member user ids to remove from the role","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeRoleMembers"}}},"required":true},"responses":{"204":{"description":"Members revoked from role"},"400":{"description":"Empty members list or cannot revoke from self"},"403":{"description":"Insufficient permissions"}}}},"/tenants/{tenant_id}/structure":{"get":{"tags":["Tenants"],"summary":"Get tenant resource tree","description":"Returns the entire tenant resource hierarchy as a nested tree: divisions -> environments -> deployments. Single call to prime an agent's context about everything in the tenant. Permission-filtered, hidden divisions and environments are omitted. Each deployment's `supervisor_url` points to the supervisor API that owns its lifecycle (status, configuration, telemetry, restart, upgrade, node operations).","operationId":"get_tenant_structure","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Tenant resource tree","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantStructure"}}}},"403":{"description":"Not a member of the tenant"}}}},"/tenants/{tenant_id}/summary":{"get":{"tags":["Tenants"],"summary":"Tenant summary","description":"Aggregate counters for the tenant: total divisions, environments, deployments. Cheap projection for dashboards.","operationId":"get_tenant_summary","parameters":[{"name":"tenant_id","in":"path","description":"Tenant identifier","required":true,"schema":{"$ref":"#/components/schemas/TenantId"}}],"responses":{"200":{"description":"Tenant summary counters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantSummaryInfo"}}}},"403":{"description":"Not a member of the tenant"}}}}},"components":{"schemas":{"ActivateConnector":{"type":"object","required":["connector_key","connector_type"],"properties":{"connector_key":{"type":"string"},"connector_type":{"type":"string"},"instance_key":{"type":["string","null"]},"instance_name":{"type":["string","null"]}}},"AddRole":{"type":"object","required":["name","permissions"],"properties":{"name":{"$ref":"#/components/schemas/RoleName"},"permissions":{"$ref":"#/components/schemas/RolePermissions"}}},"ApiKeyDetails":{"allOf":[{"$ref":"#/components/schemas/ApiKeyInfo"},{"type":"object","required":["permissions"],"properties":{"permissions":{"$ref":"#/components/schemas/RolePermissionsInfo"}}}]},"ApiKeyId":{"type":"integer","format":"int64","example":7261845127892140000,"minimum":0},"ApiKeyInfo":{"type":"object","required":["id","user_id","role_id","role_name","name","validate_ip","allowed_ips","expiry_at","created_at"],"properties":{"allowed_ips":{"type":"array","items":{"type":"string"}},"created_at":{"type":"string","format":"date-time","description":"Resource creation timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"},"division_id":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DivisionId"}]},"division_name":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DivisionName"}]},"expiry_at":{"type":"string","format":"date-time","description":"Expiration timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"},"id":{"$ref":"#/components/schemas/ApiKeyId"},"name":{"$ref":"#/components/schemas/ApiKeyName"},"role_id":{"$ref":"#/components/schemas/RoleId"},"role_name":{"$ref":"#/components/schemas/RoleName"},"user_id":{"$ref":"#/components/schemas/UserId"},"validate_ip":{"type":"boolean"}},"example":{"id":7261845198004700001,"division_id":7261844974723780000,"division_name":"Engineering","user_id":611298765432109069,"role_id":611298765432109010,"role_name":"ci-deployer","name":"ci-pipeline","validate_ip":true,"allowed_ips":["203.0.113.10","203.0.113.11"],"expiry_at":"2027-01-15T12:00:00Z","created_at":"2026-05-20T10:00:00Z"}},"ApiKeyName":{"type":"string","example":"ci-deployer"},"ApiKeyToken":{"type":"object","required":["id","token"],"properties":{"id":{"$ref":"#/components/schemas/ApiKeyId"},"token":{"type":"string","example":"ld_pk_AbCdEf0123456789AbCdEf0123456789"}}},"Area":{"type":"string","enum":["us","eu","ap","ca","sa"]},"AssignRoleMembers":{"type":"object","required":["members"],"properties":{"members":{"type":"array","items":{"$ref":"#/components/schemas/UserId"}}}},"AvailabilityMode":{"type":"string","enum":["single_az","multi_az"]},"AwsAccountId":{"type":"string","description":"AWS Account ID - exactly 12 digits.","example":"123456789012"},"AwsByocDeployment":{"type":"object","required":["account_id","identity_arn","external_id","vpc_id","vpc_cidr"],"properties":{"account_id":{"$ref":"#/components/schemas/AwsAccountId"},"external_id":{"type":"string"},"identity_arn":{"type":"string"},"vpc_cidr":{"$ref":"#/components/schemas/CidrBlock"},"vpc_id":{"$ref":"#/components/schemas/AwsVpcId"}}},"AwsCloudAccountSettings":{"type":"object","properties":{"external_id":{"type":["string","null"]},"identity_arn":{"type":["string","null"]},"vpc_cidr":{"type":["string","null"]},"vpc_id":{"type":["string","null"]}}},"AwsVpcId":{"type":"string","description":"AWS VPC ID, e.g. `vpc-1234567890abcdef0`.\nMust start with `vpc-` followed by 1-17 hex characters.","example":"vpc-0abc1234def567890"},"BillingInfo":{"type":"object","properties":{"address":{"type":["string","null"]},"city":{"type":["string","null"]},"company":{"type":["string","null"]},"country":{"type":["string","null"]},"email":{"type":["string","null"]},"name":{"type":["string","null"]},"phone":{"type":["string","null"]},"postal_code":{"type":["string","null"]},"state":{"type":["string","null"]},"tax_id":{"type":["string","null"]}}},"BillingReportDetails":{"allOf":[{"$ref":"#/components/schemas/BillingReportInfo"},{"type":"object","required":["compute_cost","storage_cost","network_cost","other_cost","telemetry_cost","data_retention_cost","platform_cost","total_network_in","total_network_out"],"properties":{"compute_cost":{"type":"string"},"data_retention_cost":{"type":"string"},"network_cost":{"type":"string"},"other_cost":{"type":"string"},"platform_cost":{"type":"string"},"storage_cost":{"type":"string"},"telemetry_cost":{"type":"string"},"total_network_in":{"type":"number","format":"double"},"total_network_out":{"type":"number","format":"double"}}}]},"BillingReportInfo":{"type":"object","required":["id","deployment_id","name","cloud","variant","from","to","total_cost","currency"],"properties":{"cloud":{"$ref":"#/components/schemas/Cloud"},"currency":{"$ref":"#/components/schemas/Currency"},"deployment_id":{"$ref":"#/components/schemas/DeploymentId"},"from":{"type":"string","format":"date-time"},"id":{"$ref":"#/components/schemas/DeploymentReportId"},"name":{"type":"string"},"region":{"type":["string","null"]},"tier":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DeploymentTier"}]},"to":{"type":"string","format":"date-time"},"total_cost":{"type":"string"},"variant":{"$ref":"#/components/schemas/DeploymentVariant"}},"example":{"id":7261845701661510000,"deployment_id":7261845127892140000,"name":"iggy-prod-01","cloud":"aws","variant":"managed","tier":"small","region":"us-east-1","from":"2026-04-01T00:00:00Z","to":"2026-05-01T00:00:00Z","total_cost":"182.45","currency":"USD"}},"ByocSetup":{"allOf":[{},{},{"type":"object","required":["supervisor","steps"],"properties":{"steps":{"type":"array","items":{"type":"string"}},"supervisor":{"type":"string"}}}]},"CidrBlock":{"type":"string","example":"10.0.0.0/16"},"Cloud":{"type":"string","description":"Supported managed cloud provider. Only `aws` and `gcp` are accepted on the public API.","enum":["aws","gcp"],"examples":["aws"]},"CloudAccountDetails":{"allOf":[{"$ref":"#/components/schemas/CloudAccountInfo"},{"type":"object","properties":{"remarks":{"type":["string","null"]},"settings":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/CloudAccountSettings"}]}}}]},"CloudAccountId":{"type":"integer","format":"int64","example":611298765432109069,"minimum":0},"CloudAccountInfo":{"type":"object","required":["id","cloud","name","account_id","status","created_at","updated_at"],"properties":{"account_id":{"type":"string"},"cloud":{"$ref":"#/components/schemas/Cloud"},"created_at":{"type":"string","format":"date-time","description":"Resource creation timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"},"id":{"$ref":"#/components/schemas/CloudAccountId"},"name":{"$ref":"#/components/schemas/CloudAccountName"},"region":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Region"}]},"status":{"$ref":"#/components/schemas/Status"},"updated_at":{"type":"string","format":"date-time","description":"Resource last-update timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"},"validated_at":{"type":["string","null"],"format":"date-time","description":"Validation timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"}},"example":{"id":7261845211446120000,"cloud":"aws","name":"acme-prod-aws","account_id":"123456789012","region":"us-east-1","validated_at":"2026-05-20T10:00:00Z","status":"active","created_at":"2026-05-20T10:00:00Z","updated_at":"2026-05-20T10:00:00Z"}},"CloudAccountName":{"type":"string","example":"aws-prod"},"CloudAccountSettings":{"type":"object","properties":{"aws":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/AwsCloudAccountSettings"}]},"gcp":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/GcpCloudAccountSettings"}]}}},"CloudInfo":{"type":"object","required":["key","name"],"properties":{"key":{"type":"string"},"name":{"type":"string"}}},"CloudPricing":{"type":"object","required":["network","storage","compute","disk","transfer","overhead","telemetry"],"properties":{"compute":{"$ref":"#/components/schemas/ComputePricing"},"disk":{"$ref":"#/components/schemas/DiskPricing"},"network":{"$ref":"#/components/schemas/NetworkPricing"},"overhead":{"$ref":"#/components/schemas/OverheadPricing"},"storage":{"$ref":"#/components/schemas/StoragePricing"},"telemetry":{"$ref":"#/components/schemas/TelemetryPricing"},"transfer":{"$ref":"#/components/schemas/TransferPricing"}}},"CloudStorageSettings":{"type":"object","description":"Simplified storage configuration for API requests.\nContains only storage type and optional size. IOPS and throughput are\nautomatically calculated based on tier and storage type when converted to CloudStorage.","required":["type"],"properties":{"size":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/StorageSize","description":"Size in GB. Required for network storage types."}]},"type":{"$ref":"#/components/schemas/StorageType"}}},"ClusterConfig":{"type":"object","required":["nodes","max_throughput_mbps_per_node"],"properties":{"max_throughput_mbps_per_node":{"type":"integer","format":"int32","minimum":0},"nodes":{"type":"integer","format":"int32","minimum":0}}},"ClusterInfo":{"type":"object","required":["key","name","description","available","tiers"],"properties":{"available":{"type":"boolean"},"description":{"type":"string"},"key":{"type":"string"},"name":{"type":"string"},"tiers":{"type":"array","items":{"type":"string"}}}},"ClusterKind":{"type":"string","enum":["standalone","cluster"]},"ComputePricing":{"type":"object","required":["network_disk_tiers","nvme_tiers"],"properties":{"network_disk_tiers":{"type":"array","items":{"$ref":"#/components/schemas/ComputeTier"}},"nvme_tiers":{"type":"array","items":{"$ref":"#/components/schemas/ComputeTier"}}}},"ComputeTier":{"type":"object","required":["tier","max_mbps","instance","monthly_cost"],"properties":{"instance":{"type":"string"},"max_mbps":{"type":"integer","format":"int32","minimum":0},"monthly_cost":{"type":"string"},"tier":{"type":"string"}}},"ConnectorInfo":{"type":"object","required":["key","type","name","description","available","permitted"],"properties":{"available":{"type":"boolean"},"description":{"type":"string"},"key":{"type":"string"},"name":{"type":"string"},"permitted":{"type":"boolean"},"type":{"$ref":"#/components/schemas/ConnectorType"}},"example":{"key":"iggy.postgres.sink","type":"sink","name":"PostgreSQL Sink","description":"Stream messages from an Iggy topic to a PostgreSQL table.","available":true,"permitted":true}},"ConnectorType":{"type":"string","enum":["sink","source"]},"CreateApiKey":{"type":"object","required":["name","expiry_at","validate_ip"],"properties":{"allowed_ips":{"type":["array","null"],"items":{"type":"string"}},"division_id":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DivisionId"}]},"expiry_at":{"type":"string","format":"date-time","description":"Expiration timestamp (RFC 3339 UTC).","example":"2026-05-20T10:00:00Z"},"name":{"$ref":"#/components/schemas/ApiKeyName"},"permissions":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/RolePermissions"}]},"role_id":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/RoleId"}]},"validate_ip":{"type":"boolean"}}},"CreateCloudAccount":{"type":"object","required":["cloud","name","account_id"],"properties":{"account_id":{"type":"string"},"cloud":{"type":"string"},"name":{"$ref":"#/components/schemas/CloudAccountName"},"region":{"type":["string","null"]},"remarks":{"type":["string","null"]},"settings":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/CloudAccountSettings"}]}}},"CreateDivision":{"type":"object","required":["name"],"properties":{"description":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Description"}]},"email":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Email"}]},"name":{"$ref":"#/components/schemas/DivisionName"},"protected":{"type":["boolean","null"],"description":"Optional. When `true`, deletion is hardened: deleting this division will require a\none-time confirmation code emailed to the tenant address (request via\n`PUT /tenants/{tenant_id}/request_code` with `action = \"delete_division\"`).\nDefaults to `false` when omitted.","example":true}}},"CreateEnvironment":{"type":"object","required":["name"],"properties":{"description":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Description"}]},"name":{"$ref":"#/components/schemas/EnvironmentName"},"protected":{"type":["boolean","null"],"description":"Optional. When `true`, deletion is hardened: deleting this environment will require\na one-time confirmation code emailed to the tenant address (request via\n`PUT /tenants/{tenant_id}/request_code` with `action = \"delete_environment\"`).\nDefaults to `false` when omitted.","example":true}}},"CreateIntent":{"type":"object","properties":{"source":{"$ref":"#/components/schemas/IdentityProvider"}}},"CreateTenant":{"type":"object","required":["name"],"properties":{"description":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Description"}]},"division":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/TenantDivision"}]},"email":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/Email"}]},"name":{"$ref":"#/components/schemas/TenantName"},"protected":{"type":["boolean","null"],"description":"Optional. When `true`, deletion is hardened: deleting this tenant will require a\none-time confirmation code emailed to the tenant address (request via\n`PUT /tenants/{tenant_id}/request_code` with `action = \"delete_tenant\"`).\nDefaults to `false` when omitted.","example":true}}},"Currency":{"type":"string","enum":["USD"]},"CustomerInvoiceDetails":{"allOf":[{"$ref":"#/components/schemas/CustomerInvoiceInfo"},{"type":"object","required":["subtotal","line_items"],"properties":{"billing_info":{},"line_items":{"type":"array","items":{}},"notes":{"type":["string","null"]},"paid_at":{"type":["string","null"],"format":"date-time"},"subtotal":{"type":"string"},"tax":{"type":["string","null"]}}}]},"CustomerInvoiceInfo":{"type":"object","required":["id","tenant_id","number","period_start","period_end","status","currency","total","created_at"],"properties":{"created_at":{"type":"string","format":"date-time"},"currency":{"$ref":"#/components/schemas/Currency"},"division_id":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DivisionId"}]},"id":{"$ref":"#/components/schemas/InvoiceId"},"number":{"type":"string"},"period_end":{"type":"string","format":"date-time"},"period_start":{"type":"string","format":"date-time"},"status":{"$ref":"#/components/schemas/InvoiceStatus"},"tenant_id":{"$ref":"#/components/schemas/TenantId"},"total":{"type":"string"}},"example":{"id":7261845776048540000,"tenant_id":7261845022003200001,"division_id":7261844974723780000,"number":"INV-2026-000182","period_start":"2026-04-01T00:00:00Z","period_end":"2026-05-01T00:00:00Z","status":"approved","currency":"USD","total":"182.45","created_at":"2026-05-02T10:00:00Z"}},"DataRetentionPricing":{"type":"object","required":["rate_per_gb_month","available"],"properties":{"available":{"type":"boolean"},"rate_per_gb_month":{"type":"string"}}},"DeleteDeploymentPayload":{"type":"object","required":["tenant_id","division_id","environment_id","deployment_id"],"properties":{"deployment_id":{"$ref":"#/components/schemas/DeploymentId"},"division_id":{"$ref":"#/components/schemas/DivisionId"},"environment_id":{"$ref":"#/components/schemas/EnvironmentId"},"tenant_id":{"$ref":"#/components/schemas/TenantId"}}},"DeleteDivisionPayload":{"type":"object","required":["tenant_id","division_id"],"properties":{"division_id":{"$ref":"#/components/schemas/DivisionId"},"tenant_id":{"$ref":"#/components/schemas/TenantId"}}},"DeleteEnvironmentPayload":{"type":"object","required":["tenant_id","division_id","environment_id"],"properties":{"division_id":{"$ref":"#/components/schemas/DivisionId"},"environment_id":{"$ref":"#/components/schemas/EnvironmentId"},"tenant_id":{"$ref":"#/components/schemas/TenantId"}}},"DeleteTenantPayload":{"type":"object","required":["tenant_id"],"properties":{"tenant_id":{"$ref":"#/components/schemas/TenantId"}}},"DeployStarter":{"type":"object","required":["cloud","region"],"properties":{"cloud":{"$ref":"#/components/schemas/Cloud"},"deployment_name":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/DeploymentName"}]},"environment_id":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/EnvironmentId"}]},"environment_name":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/EnvironmentName"}]},"region":{"$ref":"#/components/schemas/Region"}}},"DeployToManagedCloud":{"type":"object","required":["name","cloud","tier","cluster","region"],"properties":{"availability_mode":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/AvailabilityMode"}]},"cloud":{"$ref":"#/components/schemas/Cloud"},
[...]
